<section class='profileHeader'>

    <div class='row profile-name-parallax-display'>
      <div class='columns small-12 text-center'>
        <h1><%= @user.username %></h1>
      </div>
    </div>

    <div class='row arrow-thingy'>
      <div class='column small-12 text-center animated bounce'>
        <%= image_tag "arrow.png" %>
      </div>
    </div>

</section>

<section>
  <div class='row'>
    <div class='columns small-12 medium-6'>
      <!-- React component for all of teacher created lessons -->
      <div id='teacher-lessons'/>
    </div>
  </div>
</section>
