<section class='test'>
  <!-- Big parallax image up-top -->
  <div class="parallax">
    <div class='filler-content'>
      <div class="row">
        <% if user_signed_in? %>
          <div id='question'> What is your Goal? </div>
          <!-- 2 buttons (Learn / Teach) -->
          <div id='homeChoice'></div>
        <% else %>
          <!-- Text = 'Join the Band' -->
          <div class="arrow bounce"></div>
          <div id='app'/>
          <!-- Bouncing Arrow leading to list of students / teachers -->


        <% end %>
      </div>
    </div>
  </div>
</section>



<section>
<div class="container">
  <div class="row"></div>
</div>
</section>
