@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans|Montserrat|Raleway|Merriweather:300,400,700|Montserrat:400,500,600,700');
$black: #000000;
$grey-shadow: #999;
$venue-form-background-color: rgba(63, 72, 84, 1);
$input-background-color: rgba(255, 255, 255, 0.54);
$low-opacity-white: rgba(255, 255, 255, 0.22);
$text-shadow: 2px 2px 10px $black;
$nav-back-color: #2C3840;
$white: #ffffff;

.test {
  position: relative;
  margin-bottom: 1em;
}

.profileHeader {
  height: 500px;

  &::before {
    content: '';
    background-image: url('profile-back');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    filter: brightness(.9) contrast(.9) grayscale(.4);
  }
}

.profileText {
  position: absolute;
  height: 60%;
  width: 60%;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;

  h1 {
    text-align: center;
    font-size: 5em;
    font-family: 'Montserrat';
    text-shadow: 1px 1px 1px $white;
  }

  .arrow {
    position: relative;
    bottom: -46%;
  }

  .bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
  }

  .animated{
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;

    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    animation-fill-mode:both;
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -ms-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
  }

  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-20px);}
    60% {-webkit-transform: translateY(-15px);}
  }

  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-20px);}
    60% {-moz-transform: translateY(-8px);}
  }

  @-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-20px);}
    60% {-o-transform: translateY(-8px);}
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-8px);}
  }
}

img {
  border-radius: 50%;
}
