@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans|Montserrat|Raleway|Merriweather:300,400,700|Montserrat:400,500,600,700');
$black: #000000;
$grey-shadow: #999;
$venue-form-background-color: rgba(63, 72, 84, 1);
$input-background-color: rgba(255, 255, 255, 0.54);
$low-opacity-white: rgba(255, 255, 255, 0.22);
$text-shadow: 2px 2px 10px $black;
$nav-back-color: #2C3840;
$white: #ffffff;

*:focus {
  outline: none;
}

.login-box {
  position: relative;
  margin: 3% auto;
  padding: 1%;
  width: 600px;
  height: 900px;
  background: hsla(204, 27%, 69%, 0.21);
  border-radius: 5px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
  // text-align: center;
}

.button {
  margin: 5px;
  padding: 15px;
  position: relative;
  transition: .2s;
  border-radius: 5px;
  font-size: 22px;
  font-family: "Montserrat";
  background: #509b47;

  &:hover {
    cursor: pointer;
    background: #60AE57;
  }
  a {
    color: $white;
  }
}

label {
  float: left;
}

select {
  width: 100px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  display: block;
  box-sizing: border-box;
  margin: 15px auto 30px;
  width: 120px;
  height: 38px;
  border: none;
  border-bottom: 1px solid #BFB493;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  float: right;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-bottom: 2px solid #A56369;
  color: #3652C4;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin: 15px 0px 10px 0px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0px 12px 14px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.alert {
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}
