@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans|Montserrat|Raleway|Merriweather:300,400,700|Montserrat:400,500,600,700');

.user-card {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 2px 50px rgba(0,0,0,.2);

  &--img-wrapper{
    overflow: hidden;
    height: 200px;
    position: relative;
  }

  &--img {
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  }

  &--info{
    padding: 20px;

    &__name {
      font-size: 18px;
      margin-bottom: 10px;

      a {
        color: #404040;
      }
    }

    &__instrument, &__experience {
      font-size: 14px;
      color: #828282;
    }
  }
}

#users-list {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
  color:#333;
  margin-top: 1em;
}

.view-all-lessons {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight:500;
  color:#333;
  margin-top: 35px;
  display: inline-block;
}

.available {
  border: 2px solid green;
  margin: 1em;
  background: #f3f3f3;
  box-shadow: 2px 2px black;
}

.unavailable {
  border: 2px solid red;
  margin: 1em;
  background: #f3f3f3;
  box-shadow: 2px 2px black;
}
