@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans|Montserrat|Raleway|Merriweather:300,400,700|Montserrat:400,500,600,700');




.homepage-user-index {
  text-align: center;
  border: 1px solid rgba(0,0,0,.61);
  border-radius: 10px;
  // margin: 1px;

  img {
    border-radius: 50%;
    padding-bottom: 1em;
  }

  h1 {
    font-family: 'Raleway';
  }
}

#users-list {
  font-family: 'Raleway';
  font-size: 3em;
  margin: 1em;
  text-align: center;
}
